@import "styles.css";
@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.contact_us {
  background-color: #222222;
  padding-top: 55px;

  background-image: url("images/map_image.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  padding-bottom: 115px;
}

.contact_us .section_title {
  color: white;
}

.input_wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 75px;
}

.short_input_wrapper {
  width: 456px;
  height: 211px;
  margin-right: 25px;
}

.contact_us_input {
  width: 456px;
  height: 52px;
  border-style: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border-radius: 4px;
  margin-bottom: 28px;
  display: flex;
}

#contact_us_form_message {
  width: 456px;
  height: 211px;
}

.contact_us_input::placeholder {
  color: #bbbbbb;
  padding-left: 21px;
}

.submit_button {
  background-color: #fed136;
  border: none;
  border-radius: 5px;
  width: 241px;
  height: 67px;
  margin: 0 auto;
  display: flex;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  justify-content: center;
  cursor: pointer;
}
