@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300&display=swap");
@import "header.css";
@import "reset.css";

.section_title {
  padding-top: 70px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}

.meet_partner {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.partner_card {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 201px;
}

.image_icon_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.partner_image_icon {
  display: block;
  position: absolute;
  z-index: 1;
  border: 4px solid white;
  border-radius: 50%;
  transform: translate(100%, 200%);
}

.partner_image {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
}

.partner_name {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #333333;
}

.partner_description {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  color: #666666;
  margin: 0 auto;
  width: 200px;
}

.partner_text_wrapper {
  margin-top: 140px;
  text-align: center;
}

.button_link_2 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ff4e50;
  border: 2px solid #ff4e50;
  background-color: white;
  padding: 12px 75px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 35px;
}

/* Media */

@media (min-width: 768px) {
  .partner_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 520px;
  }

  .header {
    justify-content: space-around;
  }

  .urlaubsgluck_logo {
    display: none;
  }

  .header_title {
    font-size: 52px;
    width: 520px;
  }

  .header_subtitle {
    font-size: 24px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .partner_card {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .partner_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 910px;
  }
  .partner_card {
    width: 25%;
  }
}
