html {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body {
  max-width: 1210px;
  text-align: center;
  display: inline-block;
}

.a {
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  color: gray;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 16px;
}

img {
  width: 420px;
  height: 250px;
  display: block;
}

nav {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 56px;
}

.a:hover {
  color: rgb(0, 183, 255);
}

main {
  text-align: center;
}

.underimagetext {
  color: rgb(180, 173, 158);
  display: inline;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
}
div {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

p {
  max-width: 420px;
}

section {
  margin-left: 58px;
  margin-right: auto;
  margin-top: 100px;
  text-align: left;
}

button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: gray;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: white;
  width: 100px;
  height: 40px;
}
